sources

# Virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]

# IDE configuration (if using PyCharm/IntelliJ)
.idea/

# Ignore JSON files (optional, if they are environment-specific)
*.json

key.txt

sql_password.txt